<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<link rel="stylesheet" href="{$baseUrl}/css/normalize.css" />
	<link rel="stylesheet" href="{$baseUrl}/css/app.css" />
	<title>{ifset title}{include title|stripHtml} | {/ifset}Fotbalový manažer</title>
</head>

<body>

	<div class="container pt-3">
            <div class="d-flex justify-content-between align-items-center">
                <h3>Fotbalový manažer</h3>
                <div class="d-flex justify-content-between">
                    <div class="me-2">Vítej, {$user->getIdentity()->id}!</div>
                    <a n:href="Auth:logout" class="">Odhlásit se</a>
                </div>
            </div>
                    
            {include "@navbar.latte"}
            {include content}
	</div>

	{block scripts}
	<script src="https://unpkg.com/ionicons@5.2.3/dist/ionicons.js"></script>
        <script src="{$baseUrl}/js/netteForms.js"></script>
        <script src="{$baseUrl}/js/app.js"></script>
	{/block}
</body>
</html>
